body{ margin:auto; }
a{ text-decoration:none; }
a:visited{ color:blue; }

#corps{
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom: 100px;
    position:relative;
    overflow:hidden;
    background-color:#F5F5F5;
    min-width:800px;
}