body{ margin:auto; }

#banniere{
    margin-top: -42px;
    margin-bottom: -32px;
    position: relative;
    text-align: center;
    background: url(../images/banner.jpg) no-repeat center;
    background-size:cover;
}

#banniere h1{
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 4em;
    color: #323338;
    padding-top: 40px;
    padding-bottom: 40px;
}

a{ text-decoration: none; }
a:visited{ color:blue; }
textarea{ resize:none; }
#menu{ text-align: center; }
#corps, #presentation, #suite{ background-color: #F5F5F5; }
.news{ margin-right: 50%; }

.message{
    width:100px;
    text-align: center;
}

#corps{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom: 100px;
    border-radius: 15px;
    position:relative;
    overflow: hidden;
}

.input_conn, .input_insc{
    font-size: 1.3em;
    -webkit-border-radius:0 10px 10px 10px;
    -moz-border-radius:0 10px 10px 10px;
    border-radius:0 10px 10px 10px;
    padding-left: 5px;
}

.textarea_contact{
    width:400px;
    height:150px;
}

#bloc_news{
    padding-left: 100px;
    display:inline-block;
    vertical-align: top;
    margin-right: 200px;
}

#pres{
    float:right;
    margin-right: 150px;
}

#carte{
    margin:auto;
}

#carte_terri_depart{ display:none; }
#bloc_classement{ float:left; }
#form{ margin-left: 40px; }
td{ border: 1px solid black; }
.inutile{ border:0px; }
.ftopic{ width:450px; }
.td_map_user, .td_map{ background-color: white; }
.td_map_mont{ background-color: silver; }

.td_map_mer{
    background-color: #00CED1;
    color:white;
}

.td_map_user a{ color:#8B008B; }
#ressMouv{ width:300px; }
.numb_pos{ width:70px; }
.dropdown-submenu{ position:relative; }
.dropdown-submenu:hover>.dropdown-menu{ display:block; }
.dropdown-submenu:hover>a:after{ border-left-color:#ffffff; }
.dropdown-submenu.pull-left{ float:none; }
.td_map_user{ font-size: 0.9em; }

.td_map_mer a{
    display:block;
    color:white;
}

#bat td, #rech td, #classement td, #usine td, #recrut td, #forum td, .titre_topic{
    padding-left: 5px;
    padding-right: 5px;
}

#carte td{
    width:55px;
    height:55px;
    border:1px solid;
    text-align: center;
}

.th_list{
    background-color:gray;
    font-size:1.1em;
}

#coordMouv, #typeMouv{
    width:300px;
    display: inline-block;
}

.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

#fade{
    display:none;
    background:#000;
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: .80;
    z-index: 2;
}

.popup_block{
    display: none;
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

img.btn_close{
    float: right;
    margin: -55px -55px 0 0;
}

*html #fade{ position: absolute; }
*html .popup_block{ position: absolute; }