{% extends "base.html.twig" %}

{% block body %}
    <div id="corps">
        {{ parent() }}
        <h2>Chasseurs alpins</h2>
        Les chasseurs alpins ne peuvent être utilisés pour construire des véhicules. Ils ont cependant un bonus d'efficacité lorsqu'ils combattent en montagne.
        <h2>Bonus d'efficacité pour les groupes</h2>
        Les groupes peuvent recevoir un bonus d'efficacité s'ils sont composés exclusivement :
        <ul>
            <li>Pour le cas d'un groupe aéronavale : D'un porte-avions, de 3 frégates, d'un ravitailleur maritime, d'un sous-marin nucléaire d'attaque, de 42 avions de chasse, d'un Avion de Reconnaissance
                Embarqué et de 15 hélicoptères.
            </li>
            <li>Pour le cas d'un groupe amphibie : D'un porte-hélicoptères, de 2 chalands de débarquement, de 3 frégates, d'un ravitailleur maritime, de 10 avions de chasse et de 23 hélicoptères.</li>
            <li>Pour le cas de l'artillerie : D'un Véhicule de Surveillance du Sol par trois unités, obusier ou batterie de roquettes.</li>
            <li>Pour le cas des chasseurs alpins : D'un Véhicule Blindé à Armement Léger par neuf chasseurs alpins.</li>
            <li>Pour le cas des commandos :
                <ul>
                    <li>Soit un Zodiac Rapide pour Prise d'Assaut par cinq commandos.</li>
                    <li>Soit un Kayak de combat par commando.</li>
                    <li>Soit une Embarcation Navale Rapide par cinq commandos.</li>
                    <li>Soit un Hummer par cinq commandos.</li>
                    <li>Soit un Sous-marin de Projection Stratégique, dix commandos et dix propulseurs sous-marins.</li>
                </ul>
                Il peut y avoir des mini-drones dans ces groupes.
            </li>
            <li>Pour le cas d'un escadron de sûreté aérienne : D'un AWACS, de cinq batteries anti-aériennes et de cinq batteries de DCA.</li>
            <li>Pour le cas d'un régiment d'infanterie : 20 Hummers, 200 Véhicules Blindés à Armement Léger, 70 Véhicules Blindés Légers et 2130 soldats, chasseurs alpins et/ou commandos.</li>
        </ul>
        Les groupes peuvent tout de même contenir des camions-citerne.
        <h2>Groupes</h2>
        Le nombre de groupes pouvant être formé correspond à l'addition des niveaux des trois bâtiments d'état-major.
        <h2>Véhicules et transport</h2>
        Le Véhicule Blindé Léger peut emporter neuf militaires, il peut y avoir mélange de soldats, aviateurs, marins, commandos et chasseurs alpins. Le Véhicule Blindé à Armement Léger peut emporter
        sept militaire. Quant au camion de transport de troupes, il a une capacité de quatorze militaires.
        <h2>Gestion des munitions</h2>
        Dans la page des <a href="groupe.php">groupes</a>, vous pouvez gérer et créer des groupes. Vous pouvez leur ajouter des munitions, des missiles. Ceux-ci serviront en cas de bataille. Si vous voulez
        entraîner un groupe, il faudra définir un nombre de munitions que le groupe que vous aurez sélectionné utilisera pour son entrainement. La quantité de munitions et le temps d'entraînement joue sur
        l'efficacité gagnée.
        <h2>Etendre son territoire</h2>
        Si vous souhaitez contrôler un territoire déjà occupé par un joueur, il faut occuper le territoire durant quarante-huit heures avec un groupe composé d'au moins vingt Camions de Transport de Matériel,
        mille soldats et dix Blindés Légers de Commandement. Ces unités peuvent donc être intégrées à un groupe plus imposant. Si combat il y a eu, il faut que les pré-requis à la colonisation soient encore valides.
        <h2>Villes</h2>
        La création d'une ville coûte 15 milliards (Monnaie). Un combat dans une ville confère également un bonus d'efficacité pour le défenseur.
    </div>
{% endblock %}
{% block js_end %}
    {{ parent() }}
    <script src="/Ressources/javascript/classement.js"></script>
{% endblock %}